.toggle-button {
  padding: 8px 16px;
  /* background-color: #ddd; */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none;
  /* transition: background-color 0.3s ease; */
}

.toggle-button.true {
  /* background-color: #4CAF50; */
  color: white;
}

.toggle-button.false {
  /* background-color: #b00000; */
  color: white;
}