/* ClientInfo.css */

.client-info-page {
  /* display:flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 1rem; */
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.client-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple);
  color: var(--foreground);
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}

.back-button {
  text-decoration: none;
  color: var(--foreground);
  font-size: 1.5rem;
}

.button {
  background-color: var(--foreground);
  border: none;
  color: var(--purple);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.client-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.client-avatar {
  width: 4rem;
  height: 4rem;
  background-color: var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--purple);
  margin-bottom: 0.5rem;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.tab-bar {
  display: flex;
  justify-self: center;
  justify-content: space-around;
  background-color: var(--hover-bg);
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.tab-button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--foreground);
}

.tab-button svg {
  fill: var(--foreground);
}

.tab-button.active {
  background-color: var(--purple);
  color: var(--foreground);
  border-radius: 5px;
}

.copy {
  background-color: transparent;
  border: transparent;
}

.soap-notes,
.appointments {
  /* background: var(--input-bg); */
  padding: 1rem;
  border-radius: 5px;
}

.client-details {
  text-align: start;
}

.client-details p,
.soap-notes p,
.appointments ul {
  margin: 0.5rem;
}

.client-details strong,
.soap-notes strong {
  display: inline-block;
}

.soap-notes textarea,
.general-notes textarea {
  width: 95%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--foreground);
}

.client-details input {
  /* width: 95%; */
  padding: 0.5rem;
  margin: 0.5rem;
  width: auto;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--foreground);
}

.general-notes {
  width: 95%;
}

.soap-notes textarea {
  height: 16rem;
}

.appointments ul {
  list-style-type: none;
  padding: 0;
}

.appointments li {
  padding: 0.5rem;
  border-bottom: 1px solid var(--border);
}
